/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
  }
  100% { 
    opacity: 0; 
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
  }
  100% { 
    opacity: 0; 
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}


/*-- arrow down bouncing --*/
@-webkit-keyframes arrowDownBouncing {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,-5px);
  }
  90%   {
    visibility: visible;
    -webkit-transform: translate(0,2px);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,-2px);
  }
}
@-moz-keyframes arrowDownBouncing {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,-5px);
  }
  90%   {
    visibility: visible;
    -moz-transform: translate(0,2px);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,-2px);
  }
}
@keyframes arrowDownBouncing {
  0%   {
    visibility: visible;
    transform: translate(0,-5px);
  }
  90%   {
    visibility: visible;
    transform: translate(0,2px);
  }
  100% { 
    visibility: visible;
    transform: translate(0,-2px);
  }
}

/*-- reveal right --*/
@-webkit-keyframes revealRight {
  0%   {
    visibility: visible;
    width: 0;
  }
  100% { 
    visibility: visible;
    width: 100%;
  }
}
@-moz-keyframes revealRight {
  0%   {
    visibility: visible;
    width: 0;
  }
  100% { 
    visibility: visible;
    width: 100%;
  }
}
@keyframes revealRight {
  0%   {
    visibility: visible;
    width: 0;
  }
  100% { 
    visibility: visible;
    width: 100%;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,-10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,-10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0,-10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 97px;
  display: block;
}

.banner-container{
  overflow: hidden;
  position: relative;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.background {
  background: url('./images/laptop.png') no-repeat center center;

  -webkit-animation: fadeInDown 0.5s ease-in-out 0.75s forwards;
  -moz-animation: fadeInDown 0.5s ease-in-out 0.75s forwards;
  animation: fadeInDown 0.5s ease-in-out 0.75s forwards;
}
.disk-container {
	width: 54px;
	height: 17px;
	top: 47px;
	left: 43px;
}
.disk {
	width: 54px;
	height: 17px;
	top: 0;
	left: 0;
	overflow: hidden;
	
	-webkit-animation: revealRight 0.5s ease-in-out 1.25s forwards;
	-moz-animation: revealRight 0.5s ease-in-out 1.25s forwards;
	animation: revealRight 0.5s ease-in-out 1.25s forwards;
}
.disk:before {
	content: '';
	position: absolute;
	background: url('./images/disk.png') no-repeat center center;
	width: 54px;
	height: 17px;
	top: 0;
	left: 0;
}
.arrow {
	background: url('./images/arrow.png') no-repeat center center;
	width: 32px;
	height: 37px;
	top: 17px;
	left: 54px;
	
	-webkit-animation: arrowDownBouncing 0.75s ease-in-out 1.75s infinite forwards;
	-moz-animation: arrowDownBouncing 0.75s ease-in-out 1.75s infinite forwards;
	animation: arrowDownBouncing 0.75s ease-in-out 1.75s infinite forwards;
}