/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- zoom out and fade in--*/
@-webkit-keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- reveal half image --*/
@-webkit-keyframes revealHalfImage {
  0%   { 
    width: 12px;
    height: 6px;
  }
  50% {
    width: 251px;
    height: 6px;
  }
  100% { 
    width: 251px;
    height: 180px; 
  }
}
@-moz-keyframes revealHalfImage {
  0%   { 
    width: 12px;
    height: 6px;
  }
  50% {
    width: 251px;
    height: 6px;
  }
  100% { 
    width: 251px;
    height: 180px; 
  }
}
@keyframes revealHalfImage {
  0%   { 
    width: 12px;
    height: 6px;
  }
  50% {
    width: 251px;
    height: 6px;
  }
  100% { 
    width: 251px;
    height: 180px; 
  }
}

/*-- arrow animation --*/
@-webkit-keyframes arrowAnimation {
  0%   { 
    -webkit-transform: translate(-100%,0);
  }
  20% {
    -webkit-transform: translate(100%,0);
  }
  40% {
    -webkit-transform: translate(-50%,0);
  }
  60% {
    -webkit-transform: translate(50%,0);
  }
  80% {
    -webkit-transform: translate(-25%,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes arrowAnimation {
  0%   { 
    -moz-transform: translate(-100%,0);
  }
  20% {
    -moz-transform: translate(50%,0);
  }
  40% {
    -moz-transform: translate(-50%,0);
  }
  60% {
    -moz-transform: translate(50%,0);
  }
  80% {
    -moz-transform: translate(-25%,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@keyframes arrowAnimation {
  0%   { 
    transform: translate(-100%,0);
  }
  20% {
    transform: translate(50%,0);
  }
  40% {
    transform: translate(-50%,0);
  }
  60% {
    transform: translate(50%,0);
  }
  80% {
    transform: translate(-25%,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.bg {
  background: url('./images/300x600_bg.jpg') no-repeat center center;
  -webkit-animation: zoomOutFadeIn 1s ease-in-out 0.75s forwards;
  -moz-animation: zoomOutFadeIn 1s ease-in-out 0.75s forwards;
  animation: zoomOutFadeIn 1s ease-in-out 0.75s forwards;
}
.cta {
  background: url('./images/300x600_cta.png') no-repeat center center;
  width: 300px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.image-container {
  -webkit-animation: fadeIn 0.75s ease-in-out 1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1s forwards;
  animation: fadeIn 0.75s ease-in-out 1s forwards;
}
.image-top-container {
  overflow: hidden;
  bottom: 331px;
  height: 6px;
  width: 12px;
  border: 6px solid #e31837;
  border-bottom: 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);

  -webkit-animation: revealHalfImage 2s ease-in-out 1.5s forwards;
  -moz-animation: revealHalfImage 2s ease-in-out 1.5s forwards;
  animation: revealHalfImage 2s ease-in-out 1.5s forwards;
}
.image-top {
  background: url('./images/300x600_image.jpg') no-repeat center center;
  width: 251px;
  height: 360px;
  left: -6px;
  bottom: 0;
  -moz-transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.image-bottom-container {
  overflow: hidden;
  top: 269px;
  height: 6px;
  width: 12px;
  border: 6px solid #e31837;
  border-top: 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);

  -webkit-animation: revealHalfImage 2s ease-in-out 1.5s forwards;
  -moz-animation: revealHalfImage 2s ease-in-out 1.5s forwards;
  animation: revealHalfImage 2s ease-in-out 1.5s forwards;
}
.image-bottom {
  background: url('./images/300x600_image.jpg') no-repeat center center;
  width: 251px;
  height: 360px;
  left: -6px;
  top: 0;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.logo {
  background: url('./images/300x600_logo.png') no-repeat center center;
  width: 131px;
  height: 29px;
  top: 399px;
  left: 122px;
  -webkit-animation: fadeIn 0.75s ease-in-out 3.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 3.5s forwards;
  animation: fadeIn 0.75s ease-in-out 3.5s forwards;
}
.text1 {
  background: url('./images/300x600_text1.png') no-repeat center center;
  width: 146px;
  height: 116px;
  top: 120px;
  left: 58px;
  -webkit-animation: fadeInUp 0.75s ease-in-out 3.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-in-out 3.75s forwards;
  animation: fadeInUp 0.75s ease-in-out 3.75s forwards;
}
.text1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 6s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 6s forwards;
  animation: fadeOut 0.75s ease-in-out 6s forwards;
}
.text2 {
  background: url('./images/300x600_text2.png') no-repeat center center;
  width: 161px;
  height: 78px;
  top: 115px;
  left: 52px;
  -webkit-animation: fadeInUp 0.75s ease-in-out 6.5s forwards;
  -moz-animation: fadeInUp 0.75s ease-in-out 6.5s forwards;
  animation: fadeInUp 0.75s ease-in-out 6.5s forwards;
}
.arrow-container {
  -webkit-animation: fadeIn 0.25s ease-in-out 7s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 7s forwards;
  animation: fadeIn 0.25s ease-in-out 7s forwards;
}
.arrow {
  background: url('./images/300x600_arrow.png') no-repeat center center;
  width: 24px;
  height: 21px;
  top: 195px;
  left: 59px;
  -webkit-animation: arrowAnimation 1.25s ease-in-out 7s forwards;
  -moz-animation: arrowAnimation 1.25s ease-in-out 7s forwards;
  animation: arrowAnimation 1.25s ease-in-out 7s forwards;
}