/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
  	opacity: 1; 
  	-webkit-transform: translate(0,0);
  }
  100% { 
  	opacity: 0; 
  	-webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
  	opacity: 1; 
  	-moz-transform: translate(0,0);
  }
  100% { 
  	opacity: 0; 
  	-moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
  	opacity: 1; 
  	-o-transform: translate(0,0);
  }
  100% { 
  	opacity: 0; 
  	-o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
  	opacity: 1; 
  	transform: translate(0,0);
  }
  100% { 
  	opacity: 0; 
  	transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
  	opacity: 0; 
  	-webkit-transform: translate(0,0);
  }
  100% { 
  	opacity: 1; 
  	-webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
  	opacity: 0; 
  	-moz-transform: translate(0,0);
  }
  100% { 
  	opacity: 1; 
  	-moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
  	opacity: 0; 
  	-o-transform: translate(0,0);
  }
  100% { 
  	opacity: 1; 
  	-o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
  	opacity: 0; 
  	transform: translate(0,0);
  }
  100% { 
  	opacity: 1; 
  	transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideOut {
  0%   {
  	-webkit-transform: translate(0,0);
  }
  100% { 
  	-webkit-transform: translate(-160px,0);
  }
}
@-moz-keyframes slideOut {
  0%   {
  	-moz-transform: translate(0,0);
  }
  100% { 
  	-moz-transform: translate(-160px,0);
  }
}
@-o-keyframes slideOut {
  0%   {
  	-o-transform: translate(0,0);
  }
  100% { 
  	-o-transform: translate(-160px,0);
  }
}
@keyframes slideOut {
  0%   {
  	transform: translate(0,0);
  }
  100% { 
  	transform: translate(-160px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideIn {
  0%   {
  	-webkit-transform: translate(160px,0);
  }
  100% { 
  	-webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideIn {
  0%   {
  	-moz-transform: translate(160px,0);
  }
  100% { 
  	-moz-transform: translate(0,0);
  }
}
@-o-keyframes slideIn {
  0%   {
  	-o-transform: translate(160px,0);
  }
  100% { 
  	-o-transform: translate(0,0);
  }
}
@keyframes slideIn {
  0%   {
  	transform: translate(160px,0);
  }
  100% { 
  	transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideInBack {
  0%   {
  	-webkit-transform: translate(-160px,0);
  }
  100% { 
  	-webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideInBack {
  0%   {
  	-moz-transform: translate(-160px,0);
  }
  100% { 
  	-moz-transform: translate(0,0);
  }
}
@-o-keyframes slideInBack {
  0%   {
  	-o-transform: translate(-160px,0);
  }
  100% { 
  	-o-transform: translate(0,0);
  }
}
@keyframes slideInBack {
  0%   {
  	transform: translate(-160px,0);
  }
  100% { 
  	transform: translate(0,0);
  }
}

/*-- slide out back animation--*/
@-webkit-keyframes slideOutBack {
  0%   {
    -webkit-transform: translate(160px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideOutBack {
  0%   {
    -moz-transform: translate(160px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideOutBack {
  0%   {
    -o-transform: translate(160px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideOutBack {
  0%   {
    transform: translate(160px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in and fade in animation--*/
@-webkit-keyframes slideInFadeIn {
  0%   {
  	-webkit-transform: translate(0,0);
  	opacity: 0;
  }
  100% { 
  	-webkit-transform: translate(0,0);
  	opacity: 1;
  }
}
@-moz-keyframes slideInFadeIn {
  0%   {
  	-moz-transform: translate(0,0);
  	opacity: 0;
  }
  100% { 
  	-moz-transform: translate(0,0);
  	opacity: 1;
  }
}
@-o-keyframes slideInFadeIn {
  0%   {
  	-o-transform: translate(0,0);
  	opacity: 0;
  }
  100% { 
  	-o-transform: translate(0,0);
  	opacity: 1;
  }
}
@keyframes slideInFadeIn {
  0%   {
  	transform: translate(0,0);
  	opacity: 0;
  }
  100% { 
  	transform: translate(0,0);
  	opacity: 1;
  }
}

/*-- slide in back skate animation--*/
@-webkit-keyframes slideInSkateBack {
  0%   {
    -webkit-transform: translate(-355px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideInSkateBack {
  0%   {
    -moz-transform: translate(-355px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideInSkateBack {
  0%   {
    -o-transform: translate(-355px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideInSkateBack {
  0%   {
    transform: translate(-355px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide out back skate animation--*/
@-webkit-keyframes slideOutSkateBack {
  0%   {
    -webkit-transform: translate(355px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideOutSkateBack {
  0%   {
    -moz-transform: translate(355px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideOutSkateBack {
  0%   {
    -o-transform: translate(355px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideOutSkateBack {
  0%   {
    transform: translate(355px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  display: block;
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}
.skating-container{
  -webkit-transform: translate(-355px,0);
  -moz-transform: translate(-355px,0);
  -ms-transform: translate(-355px,0);
  -o-transform: translate(-355px,0);
  transform: translate(-355px,0);

  -webkit-animation: slideInSkateBack 0s ease-in-out 0s forwards;
  -moz-animation: slideInSkateBack 0s ease-in-out 0s forwards;
  -ms-animation: slideInSkateBack 0s ease-in-out 0s forwards;
  -o-animation: slideInSkateBack 0s ease-in-out 0s forwards;
  animation: slideInSkateBack 0s ease-in-out 0s forwards;
}
.skating{
  width: 360px; 
  height: 600px;
  background: url('../img/skating.png') no-repeat center center;
  position: absolute;
  top: 0px;
  left: -195px;

  -webkit-transform: translate(355px,0);
  -moz-transform: translate(355px,0);
  -ms-transform: translate(355px,0);
  -o-transform: translate(355px,0);
  transform: translate(355px,0);

  -webkit-animation: slideOutSkateBack 1s ease-in-out 1s forwards;
  -moz-animation: slideOutSkateBack 1s ease-in-out 1s forwards;
  -ms-animation: slideOutSkateBack 1s ease-in-out 1s forwards;
  -o-animation: slideOutSkateBack 1s ease-in-out 1s forwards;
  animation: slideOutSkateBack 1s ease-in-out 1s forwards;
}
.text-container{
  -webkit-transform: translate(160px,0);
  -moz-transform: translate(160px,0);
  -ms-transform: translate(160px,0);
  -o-transform: translate(160px,0);
  transform: translate(160px,0);

  -webkit-animation: slideOutBack 0s ease-in-out 0s forwards;
  -moz-animation: slideOutBack 0s ease-in-out 0s forwards;
  -ms-animation: slideOutBack 0s ease-in-out 0s forwards;
  -o-animation: slideOutBack 0s ease-in-out 0s forwards;
  animation: slideOutBack 0s ease-in-out 0s forwards;
}
.text{
  width: 140px;
  height: 37px;
  background: url('../img/text.png') no-repeat center center;
  position: absolute;
  top: 68px;
  left: 50%;
  margin-left: -70px;

  -webkit-transform: translate(-160px,0);
  -moz-transform: translate(-160px,0);
  -ms-transform: translate(-160px,0);
  -o-transform: translate(-160px,0);
  transform: translate(-160px,0);

  -webkit-animation: slideInFadeIn 1s ease-in-out 2s forwards;
  -moz-animation: slideInFadeIn 1s ease-in-out 2s forwards;
  -ms-animation: slideInFadeIn 1s ease-in-out 2s forwards;
  -o-animation: slideInFadeIn 1s ease-in-out 2s forwards;
  animation: slideInFadeIn 1s ease-in-out 2s forwards;
}
.logo-container{
  -webkit-transform: translate(160px,0);
  -moz-transform: translate(160px,0);
  -ms-transform: translate(160px,0);
  -o-transform: translate(160px,0);
  transform: translate(160px,0);

  -webkit-animation: slideOutBack 0s ease-in-out 0s forwards;
  -moz-animation: slideOutBack 0s ease-in-out 0s forwards;
  -ms-animation: slideOutBack 0s ease-in-out 0s forwards;
  -o-animation: slideOutBack 0s ease-in-out 0s forwards;
  animation: slideOutBack 0s ease-in-out 0s forwards;
}
.logo{
  width: 100px;
  height: 44px;
  background: url('../img/logo.png') no-repeat center center;
  position: absolute;
  bottom: 45px;
  left: 50%;
  margin-left: -50px;

  -webkit-transform: translate(-160px,0);
  -moz-transform: translate(-160px,0);
  -ms-transform: translate(-160px,0);
  -o-transform: translate(-160px,0);
  transform: translate(-160px,0);

  -webkit-animation: slideInFadeIn 1s ease-in-out 3s forwards;
  -moz-animation: slideInFadeIn 1s ease-in-out 3s forwards;
  -ms-animation: slideInFadeIn 1s ease-in-out 3s forwards;
  -o-animation: slideInFadeIn 1s ease-in-out 3s forwards;
  animation: slideInFadeIn 1s ease-in-out 3s forwards;
}
.rollover-text-container{
  -webkit-transform: translate(160px,0);
  -moz-transform: translate(160px,0);
  -ms-transform: translate(160px,0);
  -o-transform: translate(160px,0);
  transform: translate(160px,0);

  -webkit-animation: slideOutBack 0s ease-in-out 0s forwards;
  -moz-animation: slideOutBack 0s ease-in-out 0s forwards;
  -ms-animation: slideOutBack 0s ease-in-out 0s forwards;
  -o-animation: slideOutBack 0s ease-in-out 0s forwards;
  animation: slideOutBack 0s ease-in-out 0s forwards;
}
.rollover-text{
  position: absolute;
  width: 132px;
  height: 9px;
  background: url('../img/rollover.png') no-repeat center center;
  left: 50%;
  margin-left: -66px;
  bottom: 115px;

  -webkit-transform: translate(-160px,0);
  -moz-transform: translate(-160px,0);
  -ms-transform: translate(-160px,0);
  -o-transform: translate(-160px,0);
  transform: translate(-160px,0);

  -webkit-animation: slideInBack 0.5s ease-in-out 3s forwards;
  -moz-animation: slideInBack 0.5s ease-in-out 3s forwards;
  -ms-animation: slideInBack 0.5s ease-in-out 3s forwards;
  -o-animation: slideInBack 0.5s ease-in-out 3s forwards;
  animation: slideInBack 0.5s ease-in-out 3s forwards;
}