/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideOut {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-320px,0);
  }
}
@-moz-keyframes slideOut {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-320px,0);
  }
}
@-o-keyframes slideOut {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-320px,0);
  }
}
@keyframes slideOut {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-320px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideIn {
  0%   {
    -webkit-transform: translate(320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideIn {
  0%   {
    -moz-transform: translate(320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideIn {
  0%   {
    -o-transform: translate(320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideIn {
  0%   {
    transform: translate(320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideInBack {
  0%   {
    -webkit-transform: translate(-320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideInBack {
  0%   {
    -moz-transform: translate(-320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideInBack {
  0%   {
    -o-transform: translate(-320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideInBack {
  0%   {
    transform: translate(-320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide out back animation--*/
@-webkit-keyframes slideOutBack {
  0%   {
    -webkit-transform: translate(320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideOutBack {
  0%   {
    -moz-transform: translate(320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideOutBack {
  0%   {
    -o-transform: translate(320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideOutBack {
  0%   {
    transform: translate(320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in and fade in animation--*/
@-webkit-keyframes slideInFadeIn {
  0%   {
    -webkit-transform: translate(0,0);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideInFadeIn {
  0%   {
    -moz-transform: translate(0,0);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideInFadeIn {
  0%   {
    -o-transform: translate(0,0);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideInFadeIn {
  0%   {
    transform: translate(0,0);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;
}

.banner-container{
  background: url('../img/background.jpg') no-repeat center center;
  overflow: hidden;
}
.cup-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideOutBack 0s ease-in-out 0s forwards;
  -moz-animation: slideOutBack 0s ease-in-out 0s forwards;
  -ms-animation: slideOutBack 0s ease-in-out 0s forwards;
  -o-animation: slideOutBack 0s ease-in-out 0s forwards;
  animation: slideOutBack 0s ease-in-out 0s forwards;
}

.cup{
  width: 42px;
  height: 49px;
  position: absolute; 
  bottom: 0px;
  left: 190px;
  background: url('../img/cup.png') no-repeat center center;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.thousand-text-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideOutBack 0s ease-in-out 0s forwards;
  -moz-animation: slideOutBack 0s ease-in-out 0s forwards;
  -ms-animation: slideOutBack 0s ease-in-out 0s forwards;
  -o-animation: slideOutBack 0s ease-in-out 0s forwards;
  animation: slideOutBack 0s ease-in-out 0s forwards;
}
.thousand-text{
  position: absolute;
  width: 70px;
  height: 18px;
  background: url('../img/thousand_cool.png') no-repeat center center;
  top: 10px;
  right: 11px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 2s forwards;
  -moz-animation: fadeIn 1s ease-in-out 2s forwards;
  -ms-animation: fadeIn 1s ease-in-out 2s forwards;
  -o-animation: fadeIn 1s ease-in-out 2s forwards;
  animation: fadeIn 1s ease-in-out 2s forwards;
}

.text1-container{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.text1{
  width: 116px;
  height: 35px;
  background: url('../img/text1.png') no-repeat center center;
  position: absolute;
  top: 8px;
  left: 78px;
  
  -webkit-animation: fadeOut 1s ease-in-out 5s forwards;
  -moz-animation: fadeOut 1s ease-in-out 5s forwards;
  -ms-animation: fadeOut 1s ease-in-out 5s forwards;
  -o-animation: fadeOut 1s ease-in-out 5s forwards;
  animation: fadeOut 1s ease-in-out 5s forwards;
}
.text2-container{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideInBack 0s ease-in-out 0s forwards;
  -moz-animation: slideInBack 0s ease-in-out 0s forwards;
  -ms-animation: slideInBack 0s ease-in-out 0s forwards;
  -o-animation: slideInBack 0s ease-in-out 0s forwards;
  animation: slideInBack 0s ease-in-out 0s forwards;
}
.text2{
  width: 108px;
  height: 18px;
  background: url('../img/text2.png') no-repeat center center;
  position: absolute;
  top: 12px;
  left: 80px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  
  -webkit-animation: fadeIn 1s ease-in-out 6s forwards;
  -moz-animation: fadeIn 1s ease-in-out 6s forwards;
  -ms-animation: fadeIn 1s ease-in-out 6s forwards;
  -o-animation: fadeIn 1s ease-in-out 6s forwards;
  animation: fadeIn 1s ease-in-out 6s forwards;
  
}
.rollover-text-container{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideInBack 0s ease-in-out 0s forwards;
  -moz-animation: slideInBack 0s ease-in-out 0s forwards;
  -ms-animation: slideInBack 0s ease-in-out 0s forwards;
  -o-animation: slideInBack 0s ease-in-out 0s forwards;
  animation: slideInBack 0s ease-in-out 0s forwards;
}
.rollover-text{
  position: absolute;
  width: 57px;
  height: 6px;
  background: url('../img/rollover_text.png') no-repeat center center;
  right: 2px;
  bottom: 2px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 7s forwards;
  -moz-animation: fadeIn 1s ease-in-out 7s forwards;
  -ms-animation: fadeIn 1s ease-in-out 7s forwards;
  -o-animation: fadeIn 1s ease-in-out 7s forwards;
  animation: fadeIn 1s ease-in-out 7s forwards;
}